<!--<ion-header>
  <ion-navbar color="primary">
    <ion-title>Images</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-header>
  <ion-navbar color="primary">

    <ion-title>
      내가 본 상품
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content>

    <h3 class="noImages" [hidden]="images.length !== 0" text-center>
      아직 촬영된 사진이 없네요 ;)
    </h3>

    <!-- 되는부분 
      <div class="container" *ngFor="let img of images; let i = index"  >
        <ion-thumbnail class="thumbnail">
          <img class="full-image" [src]="img.url" (click)="openImage(img)" />
          <div class="detail-text"> {{img.store}} 매장 </div>
    
        </ion-thumbnail>
      </div>
    --> 

    <ion-card *ngFor="let img of images">
      <img class="full-image" [src]="img.url" (click)="openImage(img)" />
      <ion-card-content class="cloth-name-card">
        <div class="cloth-name">   {{img.desc}} </div>
      </ion-card-content> 
    </ion-card>





    <!-- <ion-item-sliding *ngFor="let img of images">

      <ion-item tappable (click)="openImage(img)">
        <ion-thumbnail item-start>
          <img [src]="img.url">
        </ion-thumbnail>
        <h2>{{ img.store }} 매장</h2>
        <h3>색깔: {{img.color}}, 종류: {{img.shape}}</h3>
        <button ion-button clear icon-only item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="deleteImage(img)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list> -->

</ion-content>