<!--<ion-header>
  <ion-navbar color="primary">
    <ion-title>Images</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      iShopping
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content>
 



    <ion-list-header>
      내가 본 상품 리스트
    </ion-list-header>
    <h3 [hidden]="images.length !== 0" text-center>No Images found!</h3>

    <ion-item class="card" *ngFor="let img of images; let i = index" >

        <img class="full-image" [src]="img.url" />
        <h2> {{img.store}} 매장 </h2>
    </ion-item>

    <!-- <ion-item-sliding *ngFor="let img of images">

      <ion-item tappable (click)="openImage(img)">
        <ion-thumbnail item-start>
          <img [src]="img.url">
        </ion-thumbnail>
        <h2>{{ img.store }} 매장</h2>
        <h3>색깔: {{img.color}}, 종류: {{img.shape}}</h3>
        <button ion-button clear icon-only item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="deleteImage(img)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list> -->

</ion-content>