<ion-content>

  <div class="image-modal transparent" *ngFor="let sImg of storeImg">
    <ion-item class="close-fake" no-lines (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-item>
    <div class="img">
      <img [src]="img.url" class="fullscreen-image transparent" (click)="close()">
    </div>
      <ion-card-content class="img-info" *ngIf="img.desc">
        <div class="desc-text">{{ sImg.name }}</div>
        <ion-icon name="calendar" item-left *ngIf="img.created"></ion-icon>
        {{ img.created | date: 'short' }}
        <p> Shape: {{ img.shape }}, Color: {{ img.color }} </p>
        <p *ngFor="let sdb of storeDB"> 매장: {{ sdb.name }} </p>
        <p> Price: {{ sImg.price }} </p>
      </ion-card-content>
  </div>

</ion-content>