<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      iShopping
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">

  <!--
  <button ion-button (click)="getPosition()">Get Pos</button>
  <button ion-button (click)="viewData()">View Data</button>
  -->

  <div #map id="map"></div>

  <ion-list-header class="list-header"> 내가 본 상품 리스트
    <button class="moreButton" ion-button icon-only item-end (click)="moreList()">
      <ion-icon name="arrow-forward"> </ion-icon>
    </button>
  </ion-list-header>
  <!-- <ion-grid>
  <ion-row>
    <ion-col *ngFor="let img of images; let i = index" [hidden]="i>5"> 

  <div class="image-container" [style.background-image]="'url('+img.url+')'">

  </div>
</ion-col>
</ion-row>
</ion-grid> -->

  <div class="container" *ngFor="let img of images; let i = index" [hidden]="i > 5" (click)="openImage(img)">
    <ion-thumbnail class="thumbnail">
      <img class="full-image" [src]="img.url" />
      <div class="detail-text"> {{img.store}} 매장 </div>

    </ion-thumbnail>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>

</ion-content>