<ion-content>


  <div class="image-modal transparent">
    <ion-item class="close-fake" no-lines (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-item>

    <!-- 사진 띄우는 부분 -->
    <div class="container" *ngFor="let img of images; let i = index" (click)="close()">
      <ion-thumbnail class="thumbnail">
        <img class="full-image" [src]="img.url" />
        <div class="detail-text"> {{img.name}} </div>
      </ion-thumbnail>

      <ion-card class="card">
        <ion-card-content class="img-info" *ngIf="img.desc">
          <div class="desc-text">"{{ img.desc }}"</div>
          <p>
            <ion-icon name="calendar" item-left *ngIf="img.created"></ion-icon>
            {{ img.created | date: 'short' }}
          </p>
          <p> 매장: {{ img.store }} </p>
        </ion-card-content>
      </ion-card>
    </div>

    
  </div>

</ion-content>