.ios, .md {
    page-select-modal {
        .image-modal { 
            display: block !important;
        }
        .bigtext {
            margin: 1rem;
            margin-top: 3rem;
            text-align: center;
        }
        .empty-box {
            height: 30rem;
        }
    .card {
        display: block;
        margin-left: auto;
        margin-right: auto; // margin-top: auto;
        margin-bottom: auto;
    }
    .img-info {
        padding-left: 20px;
        background: #fff;
    }
    .desc-text {
        font-weight: 500;
        font-size: larger;
        padding-bottom: 15px;
        color: color($colors, dark);
    }
    .content {
        background:transparent !important;
    }
    .image-modal {
        display: inline-block;
        margin: 1rem;
        background: rgba(255, 255, 255, 0.9) !important;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        border-radius: 14px;
    }
    .close-fake {
        background: transparent;
        color: color($colors, light);
        font-size: 3rem;
    }

    .container {
        width: 33%;
        max-width: 33%;
        height: 22%;
        float: left;
        position: relative;
        text-align: center;
        overflow: hidden;
    }
    .full-image {
        width: 100%;
    }
    .detail-text {
        position: inherit;
        bottom: 2rem;
        color: black;
        font-size: 0.7em;
        left: 4px;
        margin-bottom: 1rem;
    }

    .thumbnail {
        max-height: 20%;
    }
    .buttons {
        text-align: center;
        margin-bottom: 3rem;
    }
}
}